{{- if .Values.integrationTests.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "opensearch.fullname" . }}-integration-tests
  labels:
    {{- include "opensearch-service.defaultLabels" . | nindent 4 }}
{{- end }}
